<div #content id="badge" >

  <div *ngFor="let element of container">
    <div  [ngClass]="selectedElement== element.id ? 'selected' : '' " [ngStyle]="element.style"
          cdkDragBoundary="#badge" cdkDrag
          (click)="selectElement(element.id , element)">
      Drag
    </div>
  </div>


</div>



<div>
  <img  id="class-badge" [src]="url" alt="noo image">
</div>

<button (click)="try()">Test</button>

<div>
  <h1>Add Element</h1>
  <button (click)="addElement()">Add +</button>
</div>

<div>
  <h1> Palette</h1>
  <button (click)="modifyStyle( 'width' , true )" class="btn"> Width + </button>
  <button (click)="modifyStyle( 'width' , false )" > Width - </button>
  <button (click)="modifyStyle( 'height' , true )" > Height + </button>
  <button (click)="modifyStyle( 'height' , false )" > Height - </button>
  <button (click)="modifyStyle( 'font-size' , true )" > Font Size + </button>
  <button (click)="modifyStyle( 'font-size' , false )" > Font Size - </button>
</div>





